.button {
    color: $primary;

    i {
        display: inline-block;
        transition: all 0.2s ease-in;
    }

    &:hover {
        color: $primary;
        text-decoration: none;

        i {
            transform: translateX(4px);
        }
    }
}

button {
    &.close {
        border-radius: $btn-border-radius;
        text-shadow: none;
        opacity: 1;
    }
}