@import "~/assets/css/_variables";

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
// @import "/node_modules/bootstrap-vue/dist/bootstrap-vue.css"; // todo use this?
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import "~/assets/css/_mixins";
@import "~/assets/css/_helpers";
@import "~/assets/css/typography";
@import "~/assets/css/button";
@import "~/assets/css/hero";
@import "~/assets/css/navbar";
@import "~/assets/css/tags";
@import "~/assets/css/footer";
@import "~/assets/css/sticky_container";
@import "~/assets/css/toast";
@import "~/assets/css/animations";

:root {
    --space-xs: #{$spacer / 4};
    --space-s: #{$spacer / 2};
    --space-m: #{$spacer};
    --space-l: #{$spacer * 2};
    --space-xl: #{$spacer * 4};
    --space-xxl: #{$spacer * 8};
}
